[submodule "gml"]
	path = gml
	url = https://github.com/ilmola/gml.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "asdfpp-jack-ecasound"]
	path = asdfpp-jack-ecasound
	url = https://github.com/AudioSceneDescriptionFormat/asdfpp-jack-ecasound.git
